<div class="card mb-2">
  <div class="card-block">
    <%= f.hidden_field :type, value: "Questions::MultipleChoice" %>

    <div class="form-group">
      <%= f.label :question %>
      <%= f.text_field :question, class: "form-control", placeholder: "Question title" %>
    </div>
    <div class="quiz-new-answers">
      <%= fields_for :answers do |answer| %>
        <%= link_to_add_association(
          "Add answer",
          f,
          :answers,
          partial: "v2/quizzes/multiple_choice/answer",
          class: "btn btn-primary mt-3"
        ) %>
      <% end %>
    </div>
  </div>
</div>
