<div class="container">
  <h1><%= @quiz.title %></h1>
  <% @quiz.questions.each do |question| %>
    <div class="question">
      <p><%= question.question %></p>
      <% if question.is_a?(Questions::SingleChoice) %>
        <% question.answers.each do |answer| %>
          <div class="form-group">
            <% is_selected = params[:questions]["#{question.id}"]["answer_id"] == answer.id.to_s %>
            <% is_correct = @result[question.id][:correct_answer] == answer.id %>
            <% color = is_correct ? "text-success" : "text-danger" %>
            <%= radio_button_tag(
              "questions[#{question.id}][answer_id]",
              answer.id,
              is_selected,
              disabled: true
              )
            %>
            <%= label_tag("questions[#{question.id}][answer_id]", answer.answer, class: color) %>
          </div>
        <% end %>
      <% elsif question.is_a?(Questions::MultipleChoice) %>
        <% question.answers.each do |answer| %>
          <div class="form-group">
            <% is_selected = params[:questions]["#{question.id}"]["answer_ids"].include?(answer.id.to_s) %>
            <% is_correct = @result[question.id][:correct_answers].include?(answer.id) %>
            <%= check_box_tag("questions[#{question.id}][answer_ids][]", answer.id, is_selected, disabled: true) %>
            <% color = is_correct ? "text-success" : "text-danger" %>
            <%= label_tag("questions[#{question.id}][answer_ids][]", answer.answer, class: color) %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
