<div class="container">
  <h1><%= @quiz.title %></h1>
  <%= form_tag check_v2_quiz_path(@quiz) do %>
    <% @quiz.questions.each do |question| %>
      <div class="question">
        <p><%= question.question %></p>
        <% if question.is_a?(Questions::SingleChoice) %>
          <% question.answers.each do |answer| %>
            <div class="form-group">
              <%= radio_button_tag("questions[#{question.id}][answer_id]", answer.id) %>
              <%= label_tag answer.answer %>
            </div>
          <% end %>
        <% elsif question.is_a?(Questions::MultipleChoice) %>
          <% question.answers.each do |answer| %>
            <div class="form-group">
              <%= check_box_tag("questions[#{question.id}][answer_ids][]", answer.id) %>
              <%= label_tag answer.answer %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%= submit_tag "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
